/* Style */

html,
body {
	height: 100%;
}

body {
	overflow-x: hidden;
}

textarea,
input {
	height: auto;
	line-height: inherit;
	padding: 0;
	color: inherit;
	background: inherit;
	display: block;
	width: auto;
	border: none;
	border-radius: 0;
	font-family: inherit;
	font-size: inherit;
	outline: none;
}

textarea,
input:focus {
	box-shadow: none;
}

[class*="svg-"] {
	color: #200e32;
}

fieldset,
label {
	margin: 0;
	padding: 0;
	border: none;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.container {
	min-width: 1312px;
	max-width: 1312px;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

[class*="svg-"] {
	font-size: 20px;
	position: relative;
}

[class*="svg-"]:before {
	content: '';
	display: block;
}

[class*="svg-"] svg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.button,
[class*="button--"] {
	display: inline-block;
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	outline: none;
	cursor: pointer;
	background: transparent;
	border-radius: 0; /* inherit font & color from ancestor */
	font: inherit;
	color: inherit;
	text-decoration: none;
	text-align: inherit; /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal; /* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit; /* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none; /* for input */
	-moz-appearance: none;
	-webkit-user-select: none; /* for button */
	-moz-user-select: none;
	user-select: none; /* Remove excess padding and border in Firefox 4+ */
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 16px 21px;
	border-radius: 20px;
	border: 1px solid transparent;
	box-sizing: border-box;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.6;
	text-align: center;
	color: #172239;
}

.button::-moz-focus-inner,
[class*="button--"]::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.button [class*="svg-"],
[class*="button--"] [class*="svg-"] {
	position: absolute;
	top: calc(50% - -1px);
	right: 16px;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	width: 1em;
	color: #200e32;
}

.button [class*="svg-"] svg,
[class*="button--"] [class*="svg-"] svg {
	fill: currentColor;
}

.button [class*="svg-"]:before,
[class*="button--"] [class*="svg-"]:before {
	padding-bottom: 100%;
}

.button {
	background-color: #ffdfd6;
}

.button--outline {
	border: solid 1px #eaeaea;
}

.input-wrap {
	position: relative;
}

.input-wrap + .input-wrap {
	margin-top: 32px;
}

.input-wrap .input-label {
	display: block;
	margin-bottom: 14px;
	z-index: 2;
	font-size: 14px;
	line-height: 1.71;
	text-align: left;
	color: #6d6d78;
}

.input-wrap .label-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 14px;
}

.input-wrap .label-wrapper .input-label {
	margin-bottom: 0;
}

.input-wrap .btn--forgot-password {
	display: inline-block;
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	outline: none;
	cursor: pointer;
	background: transparent;
	border-radius: 0; /* inherit font & color from ancestor */
	font: inherit;
	color: inherit;
	text-decoration: none;
	text-align: inherit; /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal; /* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit; /* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none; /* for input */
	-moz-appearance: none;
	-webkit-user-select: none; /* for button */
	-moz-user-select: none;
	user-select: none; /* Remove excess padding and border in Firefox 4+ */
	font-size: 14px;
	font-weight: 600;
	line-height: 1.71;
	color: #172239;
}

.input-wrap .btn--forgot-password::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.input-wrap .input-field {
	position: relative;
}

.input-wrap [class*="svg-"] {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	width: 1em;
	color: #200e32;
	pointer-events: none;
}

.input-wrap [class*="svg-"] svg {
	fill: currentColor;
}

.input-wrap [class*="svg-"]:before {
	padding-bottom: 100%;
}

.input-wrap .input-box {
	width: 100%;
	min-height: 64px;
	padding: 16px 16px 16px 66px;
	border-radius: 20px;
	border: solid 1px #eaeaea;
	box-sizing: border-box;
	resize: none;
	transition: all 250ms ease-in-out;
	font-size: 20px;
	line-height: 1.2;
	color: #6d6d78;
}

.input-wrap .input-box.error {
	border-color: #f00;
}

.input-wrap .input-box:hover,
.input-wrap .input-box:focus {
	border-color: #52c3ff;
}

.input-wrap .input-radio .input-radio {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.input-wrap .input-radio .label {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 24px;
	border: solid 2px #eaeaea;
	border-radius: 24px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.6;
	color: #172239;
}

.input-wrap .input-radio .label::before {
	content: '';
	display: inline-block;
	vertical-align: baseline;
	width: 32px;
	height: 32px;
	line-height: 1;
	box-sizing: border-box;
	background: #fff no-repeat center;
	border: 1px solid #eaeaea;
	flex-shrink: 0;
	transition: all 75ms cubic-bezier(0.4, 0, 1, 1);
	background-size: 14px;
	border-radius: 50%;
	margin-right: 20px;
}

.input-wrap .input-radio:hover .label:before,
.input-wrap .input-radio input:active + .label:before,
.input-wrap .input-radio input:focus + .label:before {
	border-color: #52c3ff;
	background-color: #52c3ff;
}

.input-wrap .input-radio input:checked + .label {
	border-color: #52c3ff;
}

.input-wrap .input-radio input:checked + .label::before {
	background-color: #52c3ff;
	border-color: #52c3ff;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.8 12'><path d='M4.514 11c-.3 0-.5-.1-.7-.3l-3.1-3.2c-.4-.4-.4-1 0-1.4.4-.4 1-.4 1.4 0l2.4 2.5 6.2-6.3c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4l-6.9 7c-.1.2-.4.3-.7.3z'/></svg>");
}

.textarea-box {
	width: 100%;
	min-height: 120px;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 20px;
	border: solid 2px #eaeaea;
	font-size: 16px;
	font-weight: 600;
	line-height: 2;
	color: #172239;
	resize: none;
}

.textarea-box:hover,
.textarea-box:focus {
	border-color: #52c3ff;
}

.user-wrapper {
	position: relative;
}

.user-wrapper input {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.user-wrapper input:checked ~ .user-type {
	border-color: #52c3ff;
}

.user-wrapper .user-type {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 31px 32px 32px;
	box-sizing: border-box;
	border-radius: 32px;
	border: solid 2px #eaeaea;
	cursor: pointer;
}

.user-wrapper .type-icon {
	display: flex;
	width: 64px;
	height: 64px;
	border-radius: 20px;
	box-sizing: border-box;
	justify-content: center;
}

.user-wrapper .type-icon [class*="svg-"] {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	width: 1em;
	color: #200e32;
}

.user-wrapper .type-icon [class*="svg-"] svg {
	fill: currentColor;
}

.user-wrapper .type-icon [class*="svg-"]:before {
	padding-bottom: 100%;
}

.user-wrapper .type-icon._student {
	background-color: #52c3ff;
}

.user-wrapper .type-icon._teacher {
	background-color: #ffdfd6;
}

.user-wrapper .type-title {
	margin-top: 20px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.6;
	text-align: center;
	color: #172239;
}

.user-wrapper .type-desc {
	margin-top: 10px;
	font-size: 14px;
	line-height: 1.71;
	text-align: center;
	color: #6d6d78;
}

.user-wrapper + .user-wrapper {
	margin-top: 32px;
}

.comment-rating {
	margin: -4px;
}

.comment-rating input {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.comment-rating .input-radio-custom {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: 50px;
	height: 50px;
	margin: 4px;
}

.comment-rating .input-radio-custom .label {
	position: relative;
	transition: all 75ms cubic-bezier(0.4, 0, 1, 1);
}

.comment-rating .input-radio-custom .label::before {
	content: '';
	position: relative;
	display: inline-block;
	vertical-align: baseline;
	width: 50px;
	height: 50px;
	line-height: 1;
	box-sizing: border-box;
	background: #fff no-repeat center;
	border: solid 2px #707070;
	flex-shrink: 0;
	transition: all 75ms cubic-bezier(0.4, 0, 1, 1);
	border-radius: 50%;
}

.comment-rating .input-radio-custom [class*="svg-"] {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	width: 1em;
	color: #200e32;
}

.comment-rating .input-radio-custom [class*="svg-"] svg {
	fill: currentColor;
}

.comment-rating .input-radio-custom [class*="svg-"]:before {
	padding-bottom: 100%;
}

.comment-rating > .input-radio-custom {
	float: right;
}

.comment-rating > .input-radio:checked ~ .input-radio-custom .label,
.comment-rating:not(:checked) > .input-radio-custom:hover .label,
.comment-rating:not(:checked) > .input-radio-custom:hover ~ .input-radio-custom .label {
	border-color: #52c3ff;
}

.comment-rating > .input-radio:checked ~ .input-radio-custom .label::before,
.comment-rating:not(:checked) > .input-radio-custom:hover .label::before,
.comment-rating:not(:checked) > .input-radio-custom:hover ~ .input-radio-custom .label::before {
	background-color: #52c3ff;
	border-color: #52c3ff;
}

.comment-rating > .input-radio:checked + .input-radio-custom:hover .label,
.comment-rating > .input-radio:checked ~ .input-radio-custom:hover .label,
.comment-rating > .input-radio-custom:hover ~ .input-radio:checked ~ .input-radio-custom .label,
.comment-rating > .input-radio:checked ~ .input-radio-custom:hover ~ .input-radio-custom .label {
	border-color: #52c3ff;
}

.comment-rating > .input-radio:checked + .input-radio-custom:hover .label::before,
.comment-rating > .input-radio:checked ~ .input-radio-custom:hover .label::before,
.comment-rating > .input-radio-custom:hover ~ .input-radio:checked ~ .input-radio-custom .label::before,
.comment-rating > .input-radio:checked ~ .input-radio-custom:hover ~ .input-radio-custom .label::before {
	background-color: #52c3ff;
	border-color: #52c3ff;
}

/*Sections*/

.section__login {
	padding-top: 64px;
	padding-bottom: 80px;
	box-sizing: border-box;
}

.section__login .section__wrapper {
	display: flex;
	margin: -32px;
}

.section__login .block__right,
.section__login .block__form {
	flex: 1 0 50%;
	padding: 32px;
	box-sizing: border-box;
}

.section__login .block__right .block__box {
	padding: 32px;
	box-sizing: border-box;
	border-radius: 64px;
	border: solid 1px #eaeaea;
}

.section__login .block__right .block__box .box-header {
	padding-top: 6px;
}

.section__login .block__right .block__box .box-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 116px;
}

.section__login .block__right .image-wrap {
	position: relative;
	width: 348.46px;
}

.section__login .block__right .image-wrap::before {
	content: '';
	display: block;
	padding-top: calc((270 / 324) * 100%);
}

.section__login .block__right .image-wrap .image {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.section__login .block__right .slider-text {
	margin-top: 30px;
}

.section__login .box-header .header-title {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.33;
	text-align: center;
	color: #172239;
}

.section__login .box-header .header-logo {
	margin-top: 13px;
	font-size: 40px;
	font-weight: 900;
	line-height: 0.8;
	text-align: center;
	color: #fb779f;
}

.section__login .block__header {
	position: relative;
}

.section__login .block__header .header-title {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.33;
	text-align: center;
	color: #172239;
}

.section__login .block__header .header-desc {
	margin-top: 15px;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	color: #6d6d78;
}

.section__login .block__header .button-prev {
	display: inline-block;
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	outline: none;
	cursor: pointer;
	background: transparent;
	border-radius: 0; /* inherit font & color from ancestor */
	font: inherit;
	color: inherit;
	text-decoration: none;
	text-align: inherit; /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal; /* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit; /* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none; /* for input */
	-moz-appearance: none;
	-webkit-user-select: none; /* for button */
	-moz-user-select: none;
	user-select: none; /* Remove excess padding and border in Firefox 4+ */
	position: absolute;
	top: 0;
	left: 0;
	width: 48px;
	height: 48px;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 50%;
	border: solid 1px #eaeaea;
}

.section__login .block__header .button-prev::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.section__login .block__form .block__box {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}

.section__login .block__form .button-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.section__login .block__form .button-wrapper .button + .button,
.section__login .block__form .button-wrapper .button + [class*="button-"],
.section__login .block__form .button-wrapper [class*="button-"] + .button,
.section__login .block__form .button-wrapper [class*="button-"] + [class*="button-"] {
	margin-top: 24px;
}

.section__login .slider-text {
	flex: 1 1 auto;
}

.section__login .slider-text .slider-title {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.33;
	text-align: center;
	color: #172239;
}

.section__login .slider-text .slider-desc {
	margin-top: 13px;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	color: #6d6d78;
}

.section__login .slider-text .slider-pagination-bullets {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.section__login .slider-text .slider-pagination-bullets .pagination-bullet {
	display: inline-block;
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	outline: none;
	cursor: pointer;
	background: transparent;
	border-radius: 0; /* inherit font & color from ancestor */
	font: inherit;
	color: inherit;
	text-decoration: none;
	text-align: inherit; /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal; /* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit; /* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none; /* for input */
	-moz-appearance: none;
	-webkit-user-select: none; /* for button */
	-moz-user-select: none;
	user-select: none; /* Remove excess padding and border in Firefox 4+ */
	width: 6px;
	height: 6px;
	border-radius: 4px;
	background-color: #eaeaea;
}

.section__login .slider-text .slider-pagination-bullets .pagination-bullet::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.section__login .slider-text .slider-pagination-bullets .pagination-bullet._active {
	width: 16px;
	background-color: #52c3ff;
}

.section__login .slider-text .slider-pagination-bullets .pagination-bullet + .pagination-bullet {
	margin-left: 12px;
}

.section__login .slider-text .slider-pagination {
	display: flex;
	justify-content: center;
	margin-top: 66px;
}

.section__login .slider-text .slider-pagination .button-prev,
.section__login .slider-text .slider-pagination .button-next {
	display: inline-block;
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	outline: none;
	cursor: pointer;
	background: transparent;
	border-radius: 0; /* inherit font & color from ancestor */
	font: inherit;
	color: inherit;
	text-decoration: none;
	text-align: inherit; /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal; /* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit; /* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none; /* for input */
	-moz-appearance: none;
	-webkit-user-select: none; /* for button */
	-moz-user-select: none;
	user-select: none; /* Remove excess padding and border in Firefox 4+ */
	width: 48px;
	height: 48px;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 50%;
	border: solid 1px #eaeaea;
}

.section__login .slider-text .slider-pagination .button-prev::-moz-focus-inner,
.section__login .slider-text .slider-pagination .button-next::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.section__login .slider-text .slider-pagination .button-next {
	margin-left: 16px;
}

.section__login .block__login {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}

.section__login .block__login .login-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.section__login .form-user-type {
	flex: 1 1 auto;
	margin-top: 52px;
}

.section__login .form-login {
	flex: 1 1 auto;
	margin-top: 50px;
}

.section__login .pagination-bullets {
	display: flex;
	justify-content: center;
	margin-bottom: 48px;
}

.section__login .pagination-bullets._step1 .pagination-bullet:nth-child(1) {
	width: 16px;
	background-color: #52c3ff;
}

.section__login .pagination-bullets._step2 .pagination-bullet:nth-child(2) {
	width: 16px;
	background-color: #52c3ff;
}

.section__login .pagination-bullets._step3 .pagination-bullet:nth-child(3) {
	width: 16px;
	background-color: #52c3ff;
}

.section__login .pagination-bullets .pagination-bullet {
	display: inline-block;
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	outline: none;
	cursor: pointer;
	background: transparent;
	border-radius: 0; /* inherit font & color from ancestor */
	font: inherit;
	color: inherit;
	text-decoration: none;
	text-align: inherit; /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal; /* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit; /* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none; /* for input */
	-moz-appearance: none;
	-webkit-user-select: none; /* for button */
	-moz-user-select: none;
	user-select: none; /* Remove excess padding and border in Firefox 4+ */
	width: 6px;
	height: 6px;
	border-radius: 4px;
	background-color: #eaeaea;
}

.section__login .pagination-bullets .pagination-bullet::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.section__login .pagination-bullets .pagination-bullet + .pagination-bullet {
	margin-left: 12px;
}

.section__teacher,
.section__student {
	display: flex;
	height: 100%;
	padding-top: 64px;
	padding-bottom: 55px;
	box-sizing: border-box;
}

.section__teacher .section__wrapper,
.section__student .section__wrapper {
	display: flex;
	height: 100%;
}

.section__teacher .block__left,
.section__student .block__left {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 304px;
	flex-shrink: 0;
}

.section__teacher .block__left .user__block,
.section__student .block__left .user__block {
	display: flex;
	padding: 24px 24px 18px;
	box-sizing: border-box;
	border-radius: 32px;
	border: solid 1px #eaeaea;
}

.section__teacher .block__left .user__block .image-wrap,
.section__student .block__left .user__block .image-wrap {
	margin-right: 20px;
}

.section__teacher .block__left .user__block .user-info,
.section__student .block__left .user__block .user-info {
	flex: 1 1 auto;
}

.section__teacher .block__left .user__block .user-name,
.section__student .block__left .user__block .user-name {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
	color: #172239;
}

.section__teacher .block__left .user__block .user-email,
.section__student .block__left .user__block .user-email {
	margin-top: 6px;
	font-size: 12px;
	line-height: 1.33;
	color: #6d6d78;
}

.section__teacher .block__left .user__block .user-action,
.section__student .block__left .user__block .user-action {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.section__teacher .block__left .user__block .user-button,
.section__student .block__left .user__block .user-button {
	display: inline-block;
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	outline: none;
	cursor: pointer;
	background: transparent;
	border-radius: 0; /* inherit font & color from ancestor */
	font: inherit;
	color: inherit;
	text-decoration: none;
	text-align: inherit; /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal; /* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit; /* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none; /* for input */
	-moz-appearance: none;
	-webkit-user-select: none; /* for button */
	-moz-user-select: none;
	user-select: none; /* Remove excess padding and border in Firefox 4+ */
}

.section__teacher .block__left .user__block .user-button::-moz-focus-inner,
.section__student .block__left .user__block .user-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.section__teacher .block__left .user__block [class*="svg-"],
.section__student .block__left .user__block [class*="svg-"] {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	width: 1em;
	color: #200e32;
}

.section__teacher .block__left .user__block [class*="svg-"] svg,
.section__student .block__left .user__block [class*="svg-"] svg {
	fill: currentColor;
}

.section__teacher .block__left .user__block [class*="svg-"]:before,
.section__student .block__left .user__block [class*="svg-"]:before {
	padding-bottom: 100%;
}

.section__teacher .block__left .user-menu,
.section__student .block__left .user-menu {
	margin-top: 50px;
	margin-bottom: 48px;
	flex: 1 1 auto;
}

.section__teacher .block__left .user-menu .menu-list,
.section__student .block__left .user-menu .menu-list {
	margin: 0;
	list-style: none;
	padding: 31px 32px;
	box-sizing: border-box;
	border-radius: 48px;
	border: solid 1px #eaeaea;
}

.section__teacher .block__left .user-menu .menu-item,
.section__student .block__left .user-menu .menu-item {
	position: relative;
	border-radius: 20px;
}

.section__teacher .block__left .user-menu .menu-item + .menu-item,
.section__student .block__left .user-menu .menu-item + .menu-item {
	margin-top: 18px;
}

.section__teacher .block__left .user-menu .menu-item._active,
.section__student .block__left .user-menu .menu-item._active {
	background-color: #ffdfd6;
}

.section__teacher .block__left .user-menu .menu-link,
.section__student .block__left .user-menu .menu-link {
	display: flex;
	align-items: center;
	padding: 12px 11px;
	cursor: not-allowed;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
	color: #172239;
}

.section__teacher .block__left .user-menu [class*="svg-"],
.section__student .block__left .user-menu [class*="svg-"] {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	width: 1em;
	margin-right: 16px;
	color: #200e32;
}

.section__teacher .block__left .user-menu [class*="svg-"] svg,
.section__student .block__left .user-menu [class*="svg-"] svg {
	fill: currentColor;
}

.section__teacher .block__left .user-menu [class*="svg-"]:before,
.section__student .block__left .user-menu [class*="svg-"]:before {
	padding-bottom: 100%;
}

.section__teacher .block__left .user-menu .svg-study svg,
.section__student .block__left .user-menu .svg-study svg {
	padding: 3px;
	box-sizing: border-box;
}

.section__teacher .block__main,
.section__student .block__main {
	flex: 1 1 auto;
	padding: 0 64px;
}

.section__teacher .block__main .header-block .sub-title,
.section__student .block__main .header-block .sub-title {
	font-size: 20px;
	line-height: 1.2;
	color: #6d6d78;
}

.section__teacher .block__main .header-block .header-title,
.section__student .block__main .header-block .header-title {
	margin-top: 14px;
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2;
	color: #172239;
}

.section__teacher .block__main .block__comment,
.section__student .block__main .block__comment {
	margin-top: 60px;
}

.section__teacher .block__main .block__comment .title,
.section__student .block__main .block__comment .title {
	margin-bottom: 25px;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.33;
	color: #172239;
}

.section__teacher .block__main .block__comment .button,
.section__student .block__main .block__comment .button {
	padding: 8px 12px;
}

.section__teacher .block__main .comment-panel,
.section__student .block__main .comment-panel {
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.section__teacher .block__main .comment-panel .comment-button-wrapper,
.section__student .block__main .comment-panel .comment-button-wrapper {
	flex: 1 0 auto;
	margin-left: 23px;
}

.section__teacher .block__main .block__type-occupation,
.section__student .block__main .block__type-occupation {
	margin-top: 60px;
}

.section__teacher .block__main .block__type-occupation .title,
.section__student .block__main .block__type-occupation .title {
	margin-bottom: 25px;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.33;
	text-align: left;
	color: #172239;
}

.section__teacher .block__main .block__type-occupation .block-types,
.section__student .block__main .block__type-occupation .block-types {
	display: flex;
	flex-wrap: wrap;
	margin: -16px;
}

.section__teacher .block__main .block__type-occupation .block-types .type-box,
.section__student .block__main .block__type-occupation .block-types .type-box {
	flex: 1 0 50%;
	padding: 16px;
	cursor: pointer;
}

.section__teacher .block__main .block__type-occupation .block-types input[type="radio"],
.section__student .block__main .block__type-occupation .block-types input[type="radio"] {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.section__teacher .block__main .block__type-occupation .block-types input:checked + .type-box-wrapper,
.section__student .block__main .block__type-occupation .block-types input:checked + .type-box-wrapper {
	border-color: #52c3ff;
}

.section__teacher .block__main .block__type-occupation .block-types .type-box-wrapper,
.section__student .block__main .block__type-occupation .block-types .type-box-wrapper {
	display: inline-block;
	border: 2px solid transparent;
	border-radius: 34px;
	cursor: pointer;
}

.section__teacher .block__main .block__type-occupation .block-types .image-wrap,
.section__student .block__main .block__type-occupation .block-types .image-wrap {
	position: relative;
	padding: 0;
	margin: 0;
}

.section__teacher .block__main .block__type-occupation .block-types .image-wrap::before,
.section__student .block__main .block__type-occupation .block-types .image-wrap::before {
	display: block;
	padding-top: calc((137 / 229) * 100%);
	content: '';
}

.section__teacher .block__main .block__type-occupation .block-types .image-wrap .image,
.section__student .block__main .block__type-occupation .block-types .image-wrap .image {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.section__teacher .block__main .block__type-occupation .block-types .type-content,
.section__student .block__main .block__type-occupation .block-types .type-content {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	padding: 24px;
	box-sizing: border-box;
	border-radius: 0 0 32px 32px;
	border-color: #eaeaea;
	border-width: 0 1px 1px 1px;
	border-style: solid;
}

.section__teacher .block__main .block__type-occupation .block-types .type-time,
.section__student .block__main .block__type-occupation .block-types .type-time {
	font-size: 14px;
	line-height: 1.71;
	color: #6d6d78;
}

.section__teacher .block__main .block__type-occupation .block-types .type-title,
.section__student .block__main .block__type-occupation .block-types .type-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.6;
	color: #172239;
}

.section__teacher .block__main .block__type-occupation .block-types .type-desc,
.section__student .block__main .block__type-occupation .block-types .type-desc {
	margin-top: 10px;
	font-size: 14px;
	line-height: 1.71;
	color: #6d6d78;
}

.section__teacher .block__main .block__slot,
.section__student .block__main .block__slot {
	margin-top: 32px;
}

.section__teacher .block__main .block__slot .title,
.section__student .block__main .block__slot .title {
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.33;
	text-align: left;
	color: #172239;
}

.section__teacher .block__main .block__slot .time-slot-row + .time-slot-row,
.section__student .block__main .block__slot .time-slot-row + .time-slot-row {
	margin-top: 32px;
}

.section__teacher .block__main .block__slot input[type="radio"],
.section__student .block__main .block__slot input[type="radio"] {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.section__teacher .block__main .block__slot input:checked + .time-slot-box,
.section__student .block__main .block__slot input:checked + .time-slot-box {
	border-color: #52c3ff;
	background-color: #52c3ff;
}

.section__teacher .block__main .block__slot .time-desc,
.section__student .block__main .block__slot .time-desc {
	margin-bottom: 24px;
	font-size: 16px;
	line-height: 1.5;
	color: #6d6d78;
}

.section__teacher .block__main .block__slot .time-slots,
.section__student .block__main .block__slot .time-slots {
	display: flex;
}

.section__teacher .block__main .block__slot .time-slot + .time-slot,
.section__student .block__main .block__slot .time-slot + .time-slot {
	margin-left: 20px;
}

.section__teacher .block__main .block__slot .time-slot-box,
.section__student .block__main .block__slot .time-slot-box {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 18px 16px;
	border-radius: 20px;
	box-sizing: border-box;
	border: solid 2px #707070;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	color: #172239;
	cursor: pointer;
}

.section__teacher .block__main .block__slot-outline,
.section__student .block__main .block__slot-outline {
	margin-top: 32px;
}

.section__teacher .block__main .block__slot-outline .title,
.section__student .block__main .block__slot-outline .title {
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.33;
	text-align: left;
	color: #172239;
}

.section__teacher .block__main .block__slot-outline .time-row + .time-row,
.section__student .block__main .block__slot-outline .time-row + .time-row {
	margin-top: 32px;
}

.section__teacher .block__main .block__slot-outline .time-slots-row,
.section__student .block__main .block__slot-outline .time-slots-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section__teacher .block__main .block__slot-outline input[type="radio"],
.section__student .block__main .block__slot-outline input[type="radio"] {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.section__teacher .block__main .block__slot-outline input:checked + .time-slot-box,
.section__student .block__main .block__slot-outline input:checked + .time-slot-box {
	border-color: #52c3ff;
	color: #172239;
}

.section__teacher .block__main .block__slot-outline .time-desc,
.section__student .block__main .block__slot-outline .time-desc {
	margin-bottom: 24px;
	font-size: 16px;
	line-height: 1.5;
	color: #6d6d78;
}

.section__teacher .block__main .block__slot-outline .time-slots,
.section__student .block__main .block__slot-outline .time-slots {
	display: flex;
}

.section__teacher .block__main .block__slot-outline .time-slot,
.section__student .block__main .block__slot-outline .time-slot {
	min-width: 92px;
}

.section__teacher .block__main .block__slot-outline .time-slot + .time-slot,
.section__student .block__main .block__slot-outline .time-slot + .time-slot {
	margin-left: 20px;
}

.section__teacher .block__main .block__slot-outline .time-slot-box,
.section__student .block__main .block__slot-outline .time-slot-box {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 14px 16px;
	border-radius: 20px;
	box-sizing: border-box;
	border: solid 2px #b3b3b3;
	font-size: 20px;
	line-height: 1.6;
	font-weight: 600;
	text-align: center;
	color: #6d6d78;
	cursor: pointer;
}

.section__teacher .block__main .button-wrapper,
.section__student .block__main .button-wrapper {
	margin-top: 60px;
}

.section__teacher .block__main .block__scheduled-lessons,
.section__student .block__main .block__scheduled-lessons {
	margin-top: 40px;
}

.section__teacher .block__main .block__scheduled-lessons .title,
.section__student .block__main .block__scheduled-lessons .title {
	margin-bottom: 34px;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.33;
	text-align: left;
	color: #172239;
}

.section__teacher .block__right,
.section__student .block__right {
	width: 390px;
	flex-shrink: 0;
}

.section__teacher .block__right .block__search,
.section__student .block__right .block__search {
	display: flex;
}

.section__teacher .block__right .block__search .search-wrapper,
.section__student .block__right .block__search .search-wrapper {
	position: relative;
	flex: 1 0 auto;
}

.section__teacher .block__right .block__search .search-wrapper [class*="svg-"],
.section__student .block__right .block__search .search-wrapper [class*="svg-"] {
	position: absolute;
	top: 50%;
	left: 11px;
	transform: translateY(-50%);
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	width: 1em;
	color: #200e32;
}

.section__teacher .block__right .block__search .search-wrapper [class*="svg-"] svg,
.section__student .block__right .block__search .search-wrapper [class*="svg-"] svg {
	fill: currentColor;
}

.section__teacher .block__right .block__search .search-wrapper [class*="svg-"]:before,
.section__student .block__right .block__search .search-wrapper [class*="svg-"]:before {
	padding-bottom: 100%;
}

.section__teacher .block__right .block__search .search-input,
.section__student .block__right .block__search .search-input {
	width: 100%;
	padding: 12px 12px 12px 48px;
	box-sizing: border-box;
	border-radius: 16px;
	border: solid 1px #eaeaea;
	font-size: 14px;
	line-height: 1.71;
	color: #6d6d78;
}

.section__teacher .block__right .block__search .notification-icon,
.section__student .block__right .block__search .notification-icon {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	margin-left: 32px;
	box-sizing: content-box;
	border: solid 1px #eaeaea;
}

.section__teacher .block__right .block__search .notification-icon._notification::before,
.section__student .block__right .block__search .notification-icon._notification::before {
	content: '';
	position: absolute;
	top: 12px;
	left: 15px;
	z-index: 2;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fb779f;
}

.section__teacher .block__right .block__search .notification-icon [class*="svg-"],
.section__student .block__right .block__search .notification-icon [class*="svg-"] {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	width: 1em;
	color: #200e32;
}

.section__teacher .block__right .block__search .notification-icon [class*="svg-"] svg,
.section__student .block__right .block__search .notification-icon [class*="svg-"] svg {
	fill: currentColor;
}

.section__teacher .block__right .block__search .notification-icon [class*="svg-"]:before,
.section__student .block__right .block__search .notification-icon [class*="svg-"]:before {
	padding-bottom: 100%;
}

.section__teacher .block__right .block__notification,
.section__student .block__right .block__notification {
	margin-top: 52px;
}

.section__teacher .block__right .block__lesson-step,
.section__student .block__right .block__lesson-step {
	margin-top: 60px;
}

.section__teacher .block__right .block__lesson-step .title,
.section__student .block__right .block__lesson-step .title {
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.33;
	color: #172239;
}

.section__teacher .card-box,
.section__student .card-box {
	display: flex;
	align-items: flex-start;
	padding: 18px 24px;
	box-sizing: border-box;
	border-radius: 32px;
	border: solid 1px #eaeaea;
}

.section__teacher .card-box + .card-box,
.section__student .card-box + .card-box {
	margin-top: 32px;
}

.section__teacher .card-box .card-illustration,
.section__student .card-box .card-illustration {
	position: relative;
	flex-shrink: 0;
	width: 64px;
	height: 64px;
	overflow: hidden;
	margin-right: 24px;
	border-radius: 50%;
}

.section__teacher .card-box .card-illustration [class*="svg-"],
.section__student .card-box .card-illustration [class*="svg-"] {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	width: 1em;
	color: #200e32;
}

.section__teacher .card-box .card-illustration [class*="svg-"] svg,
.section__student .card-box .card-illustration [class*="svg-"] svg {
	fill: currentColor;
}

.section__teacher .card-box .card-illustration [class*="svg-"]:before,
.section__student .card-box .card-illustration [class*="svg-"]:before {
	padding-bottom: 100%;
}

.section__teacher .card-box .card-illustration._blue,
.section__student .card-box .card-illustration._blue {
	background-color: #52c3ff;
}

.section__teacher .card-box .card-illustration._red,
.section__student .card-box .card-illustration._red {
	background-color: #fc77a0;
}

.section__teacher .card-box .card-illustration._pink,
.section__student .card-box .card-illustration._pink {
	background-color: #ffdfd6;
}

.section__teacher .card-box .info,
.section__student .card-box .info {
	width: 100%;
}

.section__teacher .card-box .info-title,
.section__student .card-box .info-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.6;
	color: #172239;
}

.section__teacher .card-box .sub-title,
.section__student .card-box .sub-title {
	font-size: 14px;
	line-height: 1.71;
	color: #6d6d78;
}

.section__teacher .card-box .info-desc,
.section__student .card-box .info-desc {
	margin-top: 6px;
	font-size: 14px;
	line-height: 1.71;
	color: #6d6d78;
}

.section__teacher .card-box .card-range,
.section__student .card-box .card-range {
	display: flex;
	width: 100%;
	margin-top: 24px;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.33;
	color: #172239;
}

.section__teacher .card-box .card-range label,
.section__student .card-box .card-range label {
	width: 40px;
	margin-left: 16px;
	text-align: right;
}

.section__teacher .card-box .card-range input[type="range"],
.section__student .card-box .card-range input[type="range"] {
	width: 100%;
}

.section__teacher .card-box .card-like,
.section__student .card-box .card-like {
	display: flex;
	margin: -3px;
	margin-top: 6px;
}

.section__teacher .card-box .card-like._like-1 .like-box:nth-child(1),
.section__student .card-box .card-like._like-1 .like-box:nth-child(1) {
	background-color: #52c3ff;
}

.section__teacher .card-box .card-like._like-2 .like-box:nth-child(1),
.section__teacher .card-box .card-like._like-2 .like-box:nth-child(2),
.section__student .card-box .card-like._like-2 .like-box:nth-child(1),
.section__student .card-box .card-like._like-2 .like-box:nth-child(2) {
	background-color: #52c3ff;
}

.section__teacher .card-box .card-like._like-3 .like-box:nth-child(1),
.section__teacher .card-box .card-like._like-3 .like-box:nth-child(2),
.section__teacher .card-box .card-like._like-3 .like-box:nth-child(3),
.section__student .card-box .card-like._like-3 .like-box:nth-child(1),
.section__student .card-box .card-like._like-3 .like-box:nth-child(2),
.section__student .card-box .card-like._like-3 .like-box:nth-child(3) {
	background-color: #52c3ff;
}

.section__teacher .card-box .card-like._like-4 .like-box:nth-child(1),
.section__teacher .card-box .card-like._like-4 .like-box:nth-child(2),
.section__teacher .card-box .card-like._like-4 .like-box:nth-child(3),
.section__teacher .card-box .card-like._like-4 .like-box:nth-child(4),
.section__student .card-box .card-like._like-4 .like-box:nth-child(1),
.section__student .card-box .card-like._like-4 .like-box:nth-child(2),
.section__student .card-box .card-like._like-4 .like-box:nth-child(3),
.section__student .card-box .card-like._like-4 .like-box:nth-child(4) {
	background-color: #52c3ff;
}

.section__teacher .card-box .card-like._like-5 .like-box:nth-child(1),
.section__teacher .card-box .card-like._like-5 .like-box:nth-child(2),
.section__teacher .card-box .card-like._like-5 .like-box:nth-child(3),
.section__teacher .card-box .card-like._like-5 .like-box:nth-child(4),
.section__teacher .card-box .card-like._like-5 .like-box:nth-child(5),
.section__student .card-box .card-like._like-5 .like-box:nth-child(1),
.section__student .card-box .card-like._like-5 .like-box:nth-child(2),
.section__student .card-box .card-like._like-5 .like-box:nth-child(3),
.section__student .card-box .card-like._like-5 .like-box:nth-child(4),
.section__student .card-box .card-like._like-5 .like-box:nth-child(5) {
	background-color: #52c3ff;
}

.section__teacher .card-box .card-like .like-box,
.section__student .card-box .card-like .like-box {
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 3px;
	background-color: #eaeaea;
	box-sizing: content-box;
}

.section__teacher .card-box .card-like [class*="svg-"],
.section__student .card-box .card-like [class*="svg-"] {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	width: 1em;
	color: #200e32;
}

.section__teacher .card-box .card-like [class*="svg-"] svg,
.section__student .card-box .card-like [class*="svg-"] svg {
	fill: currentColor;
}

.section__teacher .card-box .card-like [class*="svg-"]:before,
.section__student .card-box .card-like [class*="svg-"]:before {
	padding-bottom: 100%;
}

.footer-wrapper {
	padding: 22px 0;
	box-sizing: border-box;
	background-color: rgba(222, 222, 222, 0.65);
	font-size: 14px;
	line-height: 1.5;
	text-align: right;
	color: #767676;
}

.footer-wrapper .colored {
	font-weight: 900;
	color: #fb779f;
}

.error-reg {
	width: 100%;
	min-height: 64px;
	padding: 16px 16px 16px 66px;
	border-radius: 20px;
	border: solid 1px #ff0000;
	box-sizing: border-box;
	resize: none;
	transition: all 250ms ease-in-out;
	font-size: 20px;
	line-height: 1.2;
	color: #ff0000;
}
